<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Parcours</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSza0fvnSD8Km0GRkZgCEVyWJ5L649f18EOz2BVa1DmIg&s=10" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mars-juillet 2025</h4>
                                    <h4 class="subheading">Formation La Toile à l'EMLyon</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cette formation ma permis d'apprendre les bases du développement web (HTML ,CSS,JavaScript).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2-UwE2yhpCqhHtAYAdZhHWUuMh0bUnhn_N2Oo4CXByQ&s" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2025-2027</h4>
                                    <h4 class="subheading">Formation Web Académie à Epitech Lyon</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cette formation ma permis d'acquérir des compétences avancées en développement web .</p>
                                </div>
                            </div>
                        </li>
                       
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faites Partie
                                    <br>De Mon
                                    <br>Aventure!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>